[*.c]
tab_width = 4
indent_size = 4
indent_style = space

[*.h]
tab_width = 4
indent_size = 4
indent_style = space

[*.ts]
tab_width = 2
indent_size = 2
indent_style = space

[*.test.ts]
tab_width = 2
indent_size = 2
indent_style = space
